extends layout/main_layout.pug
include mixins/video

block content
    div.watch
        video(src=`/${video.videoUrl}` ,controls, data-videoId=video._id) 
    div#video-controls(data-state="hidden")
        div.progress
            input#progress(type="range" value='0')  
        div.video_play
            button.playpause(type="button" data-state="pause") 
                i.fas.fa-play
            button#mute(type="button" data-state="mute") 
                i.fas.fa-volume-down
            input#range(type="range") 
            span.current_time 00:00:00 /
            span.total_time
            button#fs(type="button" data-state="go-fullscreen") 
                i.fas.fa-expand-arrows-alt


    h1=video.description
    small #{video.meta.views} #{video.meta.views === 1? "view" : "views"} 
    h4 작성자: 
        a(href=`/users/${user._id}`) #{user.name}
    small=video.hashtag
    if auth
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
    hr
    
    div.video_comments
        form.video_comment_form
            textarea(data-user_name=session_user)
            button 댓글 달기
    div.all_comment
        each el in arr
            div.comments 
                img(src=`${el.comment_img}`, alt="") 
                h4 #{el.comment_user}
                h2 #{el.comment_text}
                if el.comment_auth
                    h4(class='delete' data-comment_Id=el.comment_id) X
block scripts
    script(src="/assets/js/videoControler.js")
    script(src="/assets/js/comment.js")
